.carousel {
    position: relative;
    align-content: center;
  }
  
  .carousel_item {
    height: 40%;    
    padding: 1em;
    width: 40%;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #ffffff;
    display: none;
  }
  
  .carousel_item--selected {
    display: block;
  }
  
  .carousel__nav {
    width: 50%;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  .carousel__button {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .carousel__button--selected {
    background: rgba(255, 255, 255, 0.5);
  }
  